@font-face {
	font-family: BebasNeue;
	src: url(./fonts/BebasNeue-Regular.ttf);
}
html, body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: BebasNeue;
	text-transform: uppercase;
	background: url('./media/bg.png');
	background-size: cover;
	background-position: 50% 50%;
}
#container {
	position: relative;
	height: 75vh;
	width: 70vw;
	background: #fff;
}
#register-bottom {
	-webkit-transform:translate3d(0,0,0);
	z-index: 1;
	position: absolute;
	background: #fff;
	bottom: 0;
	height: 10%;
	width: 100%;
	text-transform: uppercase;	
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	-webkit-transition: opacity 0.5s ease-in-out, height 0.5s cubic-bezier(1,.01,.9,.71);
	-moz-transition: opacity 0.5s ease-in-out, height 0.5s cubic-bezier(1,.01,.9,.71);
	-o-transition: opacity 0.5s ease-in-out, height 0.5s cubic-bezier(1,.01,.9,.71);
	transition: opacity 0.5s ease-in-out, height 0.5s cubic-bezier(1,.01,.9,.71);
	opacity: 0;
	display: none;
}
#register-bottom span {
	font-size: 1.2em;
	cursor: pointer;
}
#nav-bottom {
	position: absolute;
	background: #fff;
	bottom: 0;
	height: 10%;
	width: 100%;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 5% 0 5%;
	box-sizing: border-box;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
#nav-bottom span {
	font-size: 1.2em;
	margin-right: 5%;
	cursor: pointer;
}
#nav-bottom span:last-child {
	margin-right: 0;
}
#content {
	position: absolute;
	top: 0;
	height: 90%;
	width: 100%;
	background: url('./media/container_bg.png');
	background-size: cover;
	display: flex;
	flex-direction: column;
}
#nav-top {
    z-index: 999;
	height: 15%;
	width: 100%;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5% 0 5%;
	box-sizing: border-box;
}
.top-menu {
	display: flex;
	align-items: center;
	font-size: 1.4em;
}
.top-menu span {
	padding-right: 1vw;
	cursor: pointer;
}
.top-menu span:last-child {
	padding-right: 0;
}
.top-bar {
	width: 100%;
	height: 3px;
	background: #000;
	margin: 0 3% 0 3%;
}
.social-icons {
	display: flex;
	align-items: center;
	height: 100%;
}
.social-icons div {
	height: 40%;
	width: 40%;
	padding-right: 1vw;
}
.social-icons-img {
	cursor: pointer;
	max-height: 100%;
}
.social-icons div:last-child {
	padding-right: 0%;
}
#home-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
#rocktaves-content {
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	display: none;
	opacity: 0;
}
.head-container {
	display: flex;
	align-items: center;
}
.oasis-head {
	justify-content: center;
	width: 100%;
}
.oasis-heading {
	color: #fff;
	font-size: 7em;
	text-shadow: #000 4px 4px;
}
.oasis-slogan {
	margin-top: -3%;
    color: #fff;
    font-size: 4em;
    text-shadow: #000 3px 3px;
    padding-left: 30%;
    display: block;
}
.oasis-logo {
	max-height: 9em;
}
.event-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
}
.event-name {
	color: #fff;
	font-size: 5.5em;
	text-shadow: #000 4px 4px;
}
.event-body {
	width: 80%;
	/*margin-left: 20%;*/
	font-size: 1.2em;
	text-align: center;
}
.event-name, .event-body {
	z-index: 10;
}
.event-logo {
	position: absolute;
	left: 8%;
	top: 50%;
	transform: translateY(-50%);
	max-height: 50vh;
	max-width: 40vw;
	z-index: 1;
	border-radius: 50%;
}
.register-for {
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;	
}
#register-content {
	-webkit-transform:translate3d(0,0,0);
	z-index: 999;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	display: none;
	opacity: 0;
	overflow: auto;
    justify-content: space-between;
}
#register-form {
	width: 40%;
	text-align: left;
}
#register-for-head {
	margin-top: 5%;
}
#register-form input {
	font-family: BebasNeue;
	font-size: 1.1em;
	margin-bottom: 5%;
}
#register-form input[type=text], #register-form input[type=email] {
	width: 100%;
	padding: 5px;
	border: none;
	border-bottom: 2px solid #c7c7c7;
}
#register-form label {
	font-size: 1.2em;
}
.more-entries {
	margin-bottom: 0 !important;
}
#register-submit {
	margin-bottom: 5%;
}
#register-submit {
	cursor: pointer;
	padding: 10px;
	width: 40%;
	background: #000;
	color: #fff;
	font-family: BebasNeue;
	border: none;
	font-size: 1.2em;
}
#contact-content {
	display: none;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
@media all and (max-width: 700px) {
	.oasis-heading {
		font-size: 6em;
	}
	.oasis-logo {
		height: 7em;
	}
	.oasis-slogan {
		font-size: 3em;
	}
}
@media all and (max-width: 600px) {
	#container {
		height: 90vh;
		width: 85vw;
	}
	#content {
		background-position: 70% 0;
	}
	.top-menu span {
		font-size: 1em;
	}
	#nav-bottom span {
		font-size: 1em;
	}
	.oasis-heading {
		font-size: 5em;
	}
	.oasis-logo {
		height: 7em;
	}
	.oasis-slogan {
		font-size: 3em;
	}
	#contact-content {
		justify-content: center;
	}
	#register-form {
		width: 70%;
	}
}
@media all and (max-width: 450px) {
	.oasis-heading {
		font-size: 5em;
	}
	.oasis-logo {
		display: none;
	}
	.oasis-slogan {
		margin-top: 0;
		padding-left: 0; 
		font-size: 3em;
	}
	.event-name {
		font-size: 3em;
	}
}