@font-face {
	font-family: BebasNeue;
	src: url(./fonts/BebasNeue-Regular.ttf);
}
@font-face {
	font-family: Gotham;
	src: url(./fonts/Gotham-Regular.otf);
}
@font-face{
	font-family: 'Roboto Condensed', sans-serif;

}
html, body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: BebasNeue;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	background: url('./media/bg.jpg');
	background-size: cover;
	background-position: 50% 50%;
}
#register-overlay {
	z-index: 999;
	-webkit-transform: translate(0,0,0);
	position: absolute;
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,0.7);
	display: none;
	justify-content: center;
	align-items: center;
}
#register-message {
	z-index: 9999;
	-webkit-transform: translate(0,0,0);
	position: absolute;
	height: 50vh;
	width: 50vw;
	background: #fff;
	font-size: 2em;
	border-radius: 2px;
	display: none;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#register-close {
	z-index: 9999;
	-webkit-transform: translate(0,0,0);
	position: absolute;
	top: 10px;
	right: 10px;
	color: #000;
	cursor: pointer;
}
#container {
	position: relative;
	height: 75vh;
	width: 70vw;
	background: #fff;
}
#register-bottom {
	-webkit-transform:translate3d(0,0,0);
	z-index: 1;
	position: absolute;
	background: #fff;
	bottom: 0;
	height: 10%;
	width: 100%;
	text-transform: uppercase;	
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	-webkit-transition: opacity 0.5s ease-in-out, height 0.5s cubic-bezier(1,.01,.9,.71);
	-moz-transition: opacity 0.5s ease-in-out, height 0.5s cubic-bezier(1,.01,.9,.71);
	-o-transition: opacity 0.5s ease-in-out, height 0.5s cubic-bezier(1,.01,.9,.71);
	transition: opacity 0.5s ease-in-out, height 0.5s cubic-bezier(1,.01,.9,.71);
	opacity: 0;
	display: none;
}
#register-bottom span {
	font-size: 1.2em;
	cursor: pointer;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
#nav-bottom {
	position: absolute;
	background: #fff;
	bottom: 0;
	height: 10%;
	width: 100%;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 5% 0 5%;
	box-sizing: border-box;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
#nav-bottom span {
	font-size: 1.4em;
	margin-right: 5%;
	cursor: pointer;
}
#nav-bottom span:last-child {
	margin-right: 0;
}
#content {
	position: absolute;
	top: 0;
	height: 90%;
	width: 100%;
	background: url('./media/container_bg.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
}
#nav-top {
    z-index: 999;
	height: 15%;
	width: 100%;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5% 0 5%;
	box-sizing: border-box;
}
.top-menu {
	display: flex;
	align-items: center;
	font-size: 1.6em;
}
.top-menu span {
	padding-right: 0.5em;
	cursor: pointer;
}
.top-menu span:last-child {
	padding-right: 0;
}
.top-bar {
	width: 100%;
	height: 3px;
	background: #000;
	margin: 0 3% 0 3%;
}
.social-icons {
	display: flex;
	align-items: center;
	height: 100%;
}
.social-icons div {
	height: 40%;
	width: 40%;
	padding-right: 1vw;
}
.social-icons-img {
	cursor: pointer;
	max-height: 100%;
}
.social-icons div:last-child {
	padding-right: 0%;
}
#home-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
#rocktaves-content {
	/* justify-content: space-between; */
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	display: none;
	opacity: 0;
}
#rapwars-content {
	/* justify-content: space-between; */
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	display: none;
	opacity: 0;
}
#purpleprose-content, #standup-content {
	/* justify-content: space-between; */
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	display: none;
	opacity: 0;
}
.head-container {
	display: flex;
	align-items: center;
}
.oasis-head {
	justify-content: center;
	width: 100%;
}
.oasis-heading {
	text-align: center;
	color: #fff;
	font-size: 7em;
	text-shadow: #000 4px 4px;
}
.oasis-slogan {
	text-align: center;
	margin-top: -3%;
    color: #fff;
    font-size: 4em;
    text-shadow: #000 3px 3px;
    padding-left: 30%;
    display: block;
}
.oasis-logo {
	max-height: 9em;
}
.event-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	padding-bottom: 1em;
}
.event-name {
	color: #fff;
	font-size: 5.5em;
	text-shadow: #000 4px 4px;
	text-align: center;
	flex-grow: .34;
}
.event-body {
	width: 80%;
	font-size: 1.2em;
	text-align: center;
	letter-spacing: 0.7px;
	text-transform: none;
	font-family: 'Roboto Condensed';
}
.event-name, .event-body {
	z-index: 10;
}
.event-logo {
	position: absolute;
	left: 8%;
	top: 50%;
	transform: translateY(-50%);
	max-height: 50vh;
	max-width: 40vw;
	z-index: 1;
	border-radius: 50%;
}
.register-for {
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	text-align: center;	
}
#register-content-rocktaves, #register-content-rapwars, #register-content-purpleprose, #register-content-standup {
	-webkit-transform:translate3d(0,0,0);
	z-index: 999;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	display: none;
	opacity: 0;
	overflow: auto;
    justify-content: space-between;
}
#register-form {
	width: 40%;
	text-align: left;
	
}
.register-for-head {
	margin-top: 5%;
	text-align: center;
	justify-content: center;
}
#register-form input {
	font-family: BebasNeue;
	font-size: 1.1em;
	margin-bottom: 5%;
}
#register-form input[type=text], #register-form input[type=email], #register-form input[type=number] {
	width: 100%;
	padding: 5px;
	border: none;
	border-bottom: 2px solid #c7c7c7;
}
#register-form label {
	font-size: 1.2em;
}
.more-entries {
	margin-bottom: 0 !important;
}
#register-submit {
	margin-bottom: 5%;
}
#register-submit {
	cursor: pointer;
	padding: 10px;
	width: 40%;
	background: #000;
	color: #fff;
	font-family: BebasNeue;
	border: none;
	font-size: 1.2em;
}
#contact-content {
	justify-content: center;
	display: none;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
@media all and (max-width: 700px) {
	.oasis-heading {
		font-size: 6em;
	}
	.oasis-logo {
		height: 7em;
	}
	.oasis-slogan {
		font-size: 3em;
	}
}
@media all and (max-width: 600px) {
	#container {
		height: 90vh;
		width: 85vw;
	}
	#content {
		background-position: 70% 0;
	}
	.top-menu span {
		font-size: 1em;
	}
	#nav-bottom span {
		font-size: 1em;
	}
	.oasis-heading {
		font-size: 5em;
	}
	.oasis-logo {
		height: 7em;
	}
	.oasis-slogan {
		font-size: 3em;
	}
	#contact-content {
		justify-content: center;
	}
	#register-form {
		width: 70%;
	}
	.event-body {
		font-size: .9em;
	}
	#register-message {
		width: 80vw;
		font-size: 1.2em;
		text-align: center;
	}
}
@media all and (max-width: 450px) {
	.oasis-heading {
		font-size: 5em;
	}
	.oasis-logo {
		display: none;
	}
	.oasis-slogan {
		margin-top: 0;
		padding-left: 0; 
		font-size: 3em;
	}
	.event-name {
		font-size: 3em;
		text-align: center;
	}
}